<nav>
  <div class="nav-column">
    <a href="#urban-planning">City Stuff</a>
    <a href="#home-design">At Home With Me</a>
    <a href="#thrifting">Good Junk</a>
  </div>
  <div class="nav-column">
    <a href="#style">Threads + Fits</a>
    <a href="#content">Consumed & Loved</a>
    <a href="#urban-rivers">Wild River Biz</a>
  </div>
  <div class="nav-column">
    <a href="money-and-meaning.html">Money + Meaning</a>
    <a href="#blog">Brain Dump</a>
    <a href="#contact">Holler At Me</a>
  </div>
</nav>
